@import './tailwind.css';
@import './theme.css';

input[type='number'].hide-number-spin::-webkit-inner-spin-button,
input[type='number'].hide-number-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'].hide-number-spin {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
