name: Build and Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build

    outputs:
      version: ${{ steps.version.outputs.version }}

    steps:
      - uses: actions/checkout@v5

      - name: Generate version
        id: version
        run: echo "version=$(date -u +'%Y%m%d.%H%M%S')" >> $GITHUB_OUTPUT

      - uses: cachix/install-nix-action@v31

      - uses: cachix/cachix-action@v16
        with:
          name: devenv

      - name: Install devenv.sh
        run: nix profile install nixpkgs#devenv

      - name: Build ESP32 firmware (4mb)
        run: |
          mkdir -p build/out
          devenv shell build --build-only --flash-size 4mb --merge-flag="--output ./out/4mb.bin"

      - name: Build ESP32 firmware (2mb)
        run: |
          devenv shell build --build-only --flash-size 2mb --merge-flag="--output ./out/2mb.bin"

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware-${{ steps.version.outputs.version }}
          path: build/out/
          if-no-files-found: error

  release:
    runs-on: ubuntu-latest
    name: Release
    needs: build
    permissions:
      contents: write

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: firmware-${{ needs.build.outputs.version }}
          path: firmware

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          tag: v${{ needs.build.outputs.version }}
          name: Firmware ${{ needs.build.outputs.version }}
          artifacts: "firmware/*"
          generateReleaseNotes: true